/*Navbar*/
.navbar-collapse {
    padding-left: 35%;
}

/*Tab contant*/
.container {
    background-color: #C5EED9;
    padding: 0;
}
.tab-content {
   text-align: center;
}

/*Home page Images*/
.profilPicture {
    margin-left: 25%;
    width: 75%;
    margin-bottom: 20px;
}
.pmInfo {
    width: 50%;
    margin-left: 40%;
}
.pmInfo > p {
    color: red;    
}
.sectionSkils { 
    text-align: center;  
    color: #080606;  
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 5%;
    width: 90%;
    border-bottom: 1px solid #0F0D0D; 
}
.sectionSkilsBody {
    margin-top: 50px;
}
.row {
    margin-left: 50px;
}
.holderImg {
    display: inline-block;
    width: 65px;
    margin: 14px;
    text-align: center;
}
.imgJS, .imgBootstrap {
    margin-left: 0px;
}
.imgjQuery {
    width: 60px;
    margin-left: 20px; 
    text-align: center;
}
.imgAJAX {
    width: 115px;
}
.imgPostman {
    width: 140px;
}
.imgKinvey {
    width: 180px;
}
.row {
    margin: 0px;
}
/*Other Tools*/
.otherTools > ul > li {
    display: inline-block;
    width: 150px;
    font-size: 1.2em;
    margin: 5px 5px;
    padding: 15px 15px;
    background-color: #343433;
    color: #FEFEFE;
    border-radius: 10px;
}
.otherTools > ul {
    padding: 10px;
}

/*Responsive*/
@media screen and (max-width: 768px) {
    .profilPicture {
        margin-left: 12%;
    }
    .navbar-collapse {
        text-align: center;
        padding-left: 0px;
    }
    .pmInfo {
        width: 90%;
        margin-left: 5%;

    }

}

