/*Navbar*/
.navbar-collapse {
    padding-left: 35%;
}

/*Tab contant*/
.container {
    background-color: #C5EED9;
    padding: 0;
}
.tab-content {
   text-align: center;
}

/*Home page Images*/
.profilPicture {
    margin-left: 25%;
    width: 75%;
    margin-bottom: 20px;
}
.pmInfo {
    width: 50%;
    margin-left: 40%;
}
.pmInfo > p {
    color: #4F4E4E; 
    font-weight: bold; 
    font-size: 1.2em;  
}
.pmInfo > h1, .pmInfo > h4 {
    font-weight: bold;
}
.sectionSkils { 
    text-align: center;  
    color: #080606;  
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 5%;
    width: 90%;
    border-bottom: 1px solid #0F0D0D; 
}
.sectionSkilsBody {
    margin-top: 50px;
}
.row {
    margin-left: 50px;
}
.holderImg {
    display: inline-block;
    width: 65px;
    margin: 14px;
    text-align: center;
}
.imgJS, .imgBootstrap {
    margin-left: 0px;
}
.imgjQuery {
    width: 60px;
    margin-left: 20px; 
    text-align: center;
}
.imgAJAX {
    width: 115px;
}
.imgPostman {
    width: 140px;
}
.imgKinvey {
    width: 180px;
}
.row {
    margin: 0px;
}

/*Other Tools*/
.otherTools > ul > li {
    display: inline-block;
    width: 150px;
    font-size: 1.2em;
    margin: 5px 5px;
    padding: 15px 15px;
    background-color: #343433;
    color: #FEFEFE;
    border-radius: 10px;
}
.otherTools {
    padding-left: 10px;
    padding-right: 10px;
}
.otherTools > ul {
    padding: 10px; 
}

/*View Projects*/
.project {
    background-color: #C5EED9;
    margin-bottom: 50px;
    padding: 5px 5px 10px 5px;
    border-radius: 5px;
    transition: box-shadow 0.2s; 
    box-shadow: 5px 5px 40px #131111;
    font-weight: bold;
}
.project:hover {    
    box-shadow: 5px 5px 40px #131111;
}
.project > div {
    display: inline-block;
}
.project > img {
    margin-bottom: 5px;
}
.project > div > .btn {
    background-color: #FF9205;
    line-height: 5px;
}
.project > div > .btn:hover {
    background-color: #FFFFFF;
}

/*View Useful Info*/
.rowInfo {
   margin-left: 15%;
   margin-right: 15%;  
}
.panel-heading {
    padding: 0;
    margin: 0; 
}
.panel-title {
    background-color: #222;
    color: #908F8F;
    padding: 10px;
    margin: 0px;
    text-align: left; 
}
.panel-title:hover {
    color: #FCF8F8;
    cursor: pointer;
}
.panel-body {
    background-color: #403939;
    padding:25px;
    margin: 0; 
    color: #FFFFFF; 
    text-align: left; 
}
.panel-body > a {
    color: #FFFFFF;
}
.articleName {
    
}
.acordeonResize {
    width: 150px;
    font-size: 0.8em;
    display: inline;
    text-align: right;
}

/*View Contacts*/
#map {
    display: inline-block;
}
#contacts {
    text-align: left;  
}
.contactInfo {
    margin-left: 20%;
}

/*Footer*/
.row-footer  {
    margin-top: 60px;
    padding: 20px 0px 20px 0px;
    background-color: #222;
    color: #FEFEFE;
    font-size: 14px;
}
.footerLinks {
    width: 250px;
    margin-left: 100px;
    color: #918D8D;
}
.footerLinks > p {
    font-weight: bold;
    text-align: left;
    font-size: 0.8em;
    color: #918D8D;
}
.footerLinks > a {
    display: block;
    margin-bottom: 10px;
    text-align: left; 
    color: #918D8D;
    text-decoration: none;
}
.footerLinks > a:hover {
    color: #FBFAFA;
}
.footerLinks > h6 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
}
.copyright {    
    margin-top: 50px;
    color: #918D8D;
}
.foterLinks a:hover {
    color: #F0EEEE;
}

/*Responsive*/
@media screen and (max-width: 768px) {
    .profilPicture {
        margin-left: 12%;
    }
    .navbar-collapse {
        text-align: center;
        padding-left: 0px;
    }
    .pmInfo {
        width: 90%;
        margin-left: 5%;
    }
    .otherTools {
        padding-left: 0px;
    }
    .rowInfo {
       margin-left: 0;
       margin-right: 0;  
    }
    .panel-body {
        padding: 10px;
    }
    .contactInfo {
        text-align: center;
        margin-left: 0px;
    }
}

@media screen and (max-width: 420px) {
    .footerLinks {
        width: 90%;
        margin-left: 20px;

        color: #918D8D;
    }
    .copyright {
        margin-top: 100px;
        padding-right: 0;
    }
}
